/* -----------------------
   Erba Digital Card
------------------------*/

body{
    background:#eef3f7;
    font-family:Arial, Helvetica, sans-serif;
}

#card{
    max-width:420px;
    border-radius:20px;
    overflow:hidden;
    background:#ffffff;
}

.header{
    background:linear-gradient(135deg,#00A6B6,#000000);
    padding:25px;
}

#logo{
    width:180px;
    max-width:100%;
}

#photo{
    object-fit:cover;
    border:5px solid #ffffff;
    margin-top:-70px;
    background:#ffffff;
}

#name{
    color:#0d3b66;
    font-weight:bold;
    margin-top:15px;
}

#designation{
    color:#666;
    font-size:18px;
}

#company{
    color:#888;
    font-size:15px;
}

.btn{
    border-radius:12px;
    padding:12px;
    font-size:17px;
    font-weight:600;
}

.social{
    display:flex;
    justify-content:center;
    gap:18px;
    margin-top:20px;
    margin-bottom:20px;
}

.social a{
    font-size:30px;
    text-decoration:none;
    transition:.3s;
}

.social a:hover{
    transform:scale(1.2);
}

.bi-instagram{
    color:#E1306C;
}

.bi-facebook{
    color:#1877F2;
}

.bi-linkedin{
    color:#0077B5;
}

.bi-youtube{
    color:#FF0000;
}

.bi-twitter-x{
    color:#000;
}

#qr{
    border:6px solid #f1f1f1;
    border-radius:12px;
    padding:8px;
    background:#fff;
}

.footer{
    text-align:center;
    color:#666;
    font-size:14px;
    margin-top:20px;
    padding-bottom:20px;
}

@media(max-width:576px){

    body{
        padding:10px;
    }

    #card{
        width:100%;
    }

    #logo{
        width:150px;
    }

    #photo{
        width:120px;
        height:120px;
    }

}

.btn {
    background-color: #008C95 !important;
    border-color: #008C95 !important;
    color: #ffffff !important;
}

.btn:hover {
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
    color: #ffffff !important;
}
